<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
</head>
<body>

    <h1>Registration</h1>

    <form method="POST">

        {% csrf_token %}

        

        <label>Email</label><br>
        <input type="email" name="email" value="{{ form.email.value|default:'' }}"><br>
        {{ form.email.errors }}

        <br>

        <label>Password</label><br>
        <input type="password" name="password"><br>
        {{ form.password.errors }}

        <br>

        <input type="submit" value="Register">

    </form>

</body>
</html>